nav {
    color: aliceblue;
}

section p {
    background-color: orangered;
    color: blanchedalmond;
}

body {
    background-color: rgba(0, 0, 0, 0.918);
}

footer{
    background-color: rgba(35, 9, 59, 0.158);
}

section ol{
    color: white;
}