footer{
    background-color: rgba(35, 9, 59, 0.158);
}

footer p{
    margin: 0;
    padding: 8px;
    color: rgb(46, 9, 46);
    font-size: 20px;
}

footer .container{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

footer .imagenes{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

footer .imagenes img{
    height: 30px;
    width: 30px;
    width: 5px 8px;
}

footer p{
    margin: 0;
    padding: 8px;
    color: rgb(46, 9, 46);
    font-size: 20px;
}

footer .container{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

footer .imagenes{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

footer .imagenes img{
    height: 30px;
    width: 30px;
    width: 5px 8px;
}

footer{
    background-color: blueviolet;
}

footer p{
    margin: 0;
    padding: 8px;
    color: aqua;
    font-size: 20px;
}
